@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/* Стили для меню навигации */
header {
  position: relative;
}
nav {
  height: 50px;
  background: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
.menu .menu_item {
  border-right: 2px dotted #000;
  padding-right: 28px;
}

/* Стили subheader */

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}
.subheader_official {
  margin-top: 6px;
  font-weight: 100;
  font-size: 13px;
  opacity: 0.5;
}
.subheader_call {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  margin-top: 19px;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  text-align: right;
  font-weight: 400;
  font-size: 22px;
  line-height: 12px;
  color: #fff;
}
.base_btn {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  border: none;
}
.subheader_btn {
  margin-top: 19px;
}

/* Стилизация главной страницы */

.promo {
  min-height: 799px;
  background: url('../img/bg.png') center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  font-weight: 900;
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 60px;
}
.promo_subheader {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
  line-height: 36px;
}
.promo_descr {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin-top: 23px;
}
.discr_btn {
  display: block;
  margin: 118px auto 0 auto;
}
